SUPABASE_URL=https://dphorcbzrjfgcijenaek.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRwaG9yY2J6cmpmZ2NpamVuYWVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NTU1NjQsImV4cCI6MjA5MzIzMTU2NH0.lJlbWFIYp9t_RuM2efHdnAD7Ty5xyoX7N2P-Mihgbo8
